body {
	margin:0;
	font-family:Arial;
	/*background-image:url('sos.png');*/
}

li {
	list-style:none;
}

#header {
	height:50px;
	background-color: lightgray;
	border-bottom:3px solid gray;	
}

	#header a {
		text-decoration:none;
		color:black;
	}

	#header #logo {
		float:left;
	}

		#header #logo h2 {
			margin:10px 10px;
			display: inline-block;
			font-size: 27px;
		}

	#header #login_register {
		float:right;
	}

		#header #login_register p {
			margin:15px 10px;
			display: inline-block;
		}

.container {
	margin:0 auto;
	width:1200px;
	height:100%;
}

	#sidebar {
		float:left;
		width:269px;
	}

		#sidebar #menu {
			margin:0;
			padding:0;
			width:100%;
		}

			#sidebar #menu ul {
				width:200px;
			}

			#sidebar #menu li {
				padding-top:20px;
				padding-bottom:20px;
				padding-left:10px;
				list-style: none;
				border:1px solid black;
				border-right:0;
				border-top:0;
				background-color: lightgreen;
			}

			#sidebar #menu a {
				text-decoration:none;
				color:black;
		}

	#maincontent {
		float:right;
		width:890px;
		height:100%;
		padding-left:40px;
		border-left:1px solid black;
	}
	
	#alert {
		color:red;
	}
	
#footer {
	height:150px;
	background-color:gray;
	border-top:solid black 3px;
	clear:both;
}	