<html>
    <head>
        <title>UoMe</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
    </head>
    <body>
        <div id="main">
            <h1>UoMe</h1>
            <a href="/accounts/login">login</a> <a href="/accounts/register">register</a>
            <ul id="pageList">
                {% load flatpages %}
                {% get_flatpages as flatpages %}
                {% for flatpage in flatpages %}
                <li><a href="{{ flatpage.url }}">{{ flatpage.title }}</a></li>
                {% endfor %}
                <li><a href="/create/">Add</a></li>
                <li><a href="/UoMePosts/">History</a></li>
                <li><a href="/admin/">Admin</a></li>
            </ul>
