{% include 'header.html' %}
        {% for uomepost in object_list %}
            <h3>{{ uomepost.pub_date }}</h3>
            <li><strong>Ower</strong>: {{ uomepost.ower_name }}</li>
            <li><strong>Receiver</strong>: {{ uomepost.receiver_name }}</li>
            <li><strong>Event</strong>: {{ uomepost.event }}</li>
            <li><strong>Item</strong>: {{ uomepost.item_name }}</li>
            <li><strong>Price</strong>: ${{ uomepost.price }}</li>
            <li><strong>Comments</strong>: {{ uomepost.comments }}</li>
        {% endfor %}
{% include 'footer.html' %}
